{% extends "base.html" %}
{% block title %}Upload Image{% endblock %}
{% load static %}

{% block content %}
<h1>Upload an Image</h1>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="image" accept="image/*" multiple required>
            <button type="submit">Upload</button>
        </form>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
    