<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">GalleryAI</a>
      
      <ul class="navbar-nav ms-auto flex-row">
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">My gallery</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'upload' %}">Upload</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
    </div>
  </nav>
  